* {
  box-sizing: border-box;
}

header {
  text-align: center;
}

section {
  padding: 20px;
}

.uv-green {
  background-color: green;
}

.uv-orange {
  background-color: orange;
}

.uv-red {
  background-color: red;
}

.hide {
  visibility: hidden;
}

.show {
  visibility: visible;
}
